<div class="container">
    <h1 class="title">Sites</h1>

    <div class="second-container">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>FD-Instalações</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/fd.png"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p id="drop">
                    FD-Instalações e um site que foi criado com o objetivo de prática, meu pai durante muitos anos foi
                    eletricista
                    então eu quis fazer um site que seria da empresa dele caso ele ainda trabalhase com isso
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="button-style"><a class="decorantion" href="https://fd-instalacoes.vercel.app/" target="_blank">Acessar</a></button>
            </mat-card-actions>
        </mat-card>
        
    </div>
    <div class="third-container">
        <h1 id="drop2">Recursos</h1>
        <h2>linguagens, ferramentas e frameworks</h2>
        <div class="recursos">
            <div>
                <img class="recursos-img" src="assets/angular-icon.svg" alt="">
                <img class="recursos-img" src="assets/bootstrap.png" alt="">
                <img class="recursos-img" src="assets/css.png" alt="">
                <img class="recursos-img" src="assets/github.png" alt="">
                <img class="recursos-img" src="assets/html.png" alt="">
                <img class="recursos-img" src="assets/js.png" alt="">
                <img class="recursos-img" src="assets/material.png" alt="">
                <img class="recursos-img" src="assets/ts.png" alt="">
            </div>
        </div>
    </div>

</div>